/* Atualização - 06/06/2025 
    • Inclusão das variáveis de cores utilitárias;
    • Atualização das cores dos badges;
*/ 

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');



/******************** Variáveis********************/
:root {

    /*************************** Cores *************************** /
    
    /* Primária */
    
    --primary-50: #E7ECFF;
    --primary-100: #BCD6FF;
    --primary-200: #A4B9F9;
    --primary-300: #859EE2;
    --primary-400: #728BD1;
    --primary-500: #5977BE;
    --primary-600: #4769AC;
    --primary-700: #285794;
    --primary-800: #24427B;
    --primary-900: #092F61;
    
    /* Secundária */
    
    --secondary-50: #F0DCD8;
    --secondary-100: #EBD1CB;
    --secondary-200: #E4C1B9;
    --secondary-300: #DBADA2;
    --secondary-400: #CF9183;
    --secondary-500: #BF6C5A;
    --secondary-600: #AC5643;
    --secondary-700: #924939;
    --secondary-800: #7C3E30;
    --secondary-900: #6A3529;
    
    /* Terciária */
    
    --tertiary-50:#F6F6F7 ;
    --tertiary-100:#DADCE2;
    --tertiary-200:#BDC0C9;
    --tertiary-300:#A0A5B3;
    --tertiary-400:#8D93A4;
    --tertiary-500:#777E92 ;
    --tertiary-600:#686F81;
    --tertiary-700:#555C6A;
    --tertiary-800:#454853;
    --tertiary-900:#32343B;
    
    /* Neutras */
    
    --neutrals-50:#FAFAFA ;
    --neutrals-100:#F4F4F4;
    --neutrals-200:#EEEEEE;
    --neutrals-300:#E0E0E0;
    --neutrals-400:#BCBCBC;
    --neutrals-500:#9E9E9E;
    --neutrals-600:#757575;
    --neutrals-700:#616161;
    --neutrals-800:#424242;
    --neutrals-900:#222222;
    
    /* Sucesso */
    
    --success-50: #EDE9EB;
    --success-100: #CADDD2;
    --success-200: #A0CDB4;
    --success-300: #74BF96;
    --success-400: #53B481;
    --success-500: #29A96C;
    --success-600: #239B62;
    --success-700: #198754;
    --success-800: #0D7648;
    --success-900: #075835;
    
    
    /* Info */
    
    --info-50: #E7ECFF;
    --info-100: #BCD6FF;
    --info-200: #A4B9F9;
    --info-300: #859EE2;
    --info-400: #728BD1;
    --info-500: #5977BE;
    --info-600: #4769AC;
    --info-700: #285794;
    --info-800: #24427B;
    --info-900: #092F61;
    
    
    /*Aviso*/
    
    --warning-50: #FFF9E8;
    --warning-100: #FEEDBA;
    --warning-200: #FDE18A;
    --warning-300: #FED756;
    --warning-400: #FFCC33;
    --warning-500: #FFC31F;
    --warning-600: #FFB619;
    --warning-700: #FDA217;
    --warning-800: #FE9417;
    --warning-900: #FD7210;
    
    /* Erro */
    
    --error-50: #EDE9EA;
    --error-100: #ECCCD2;
    --error-200: #DF989E;
    --error-300: #D7727C;
    --error-400: #E7525E;
    --error-500: #ED3D48;
    --error-600: #DC3545;
    --error-700: #CA293E;
    --error-800: #BE2337;
    --error-900: #B0162B;
    
    /* Alfa */
    --neutrals-100-0: #fafafa00;
    --neutrals-100-10: #FAFAFA1A;
    --neutrals-100-20: #FAFAFA33;
    --neutrals-100-25: #FAFAFA40;
    --neutrals-100-30: #FAFAFA4D;
    --neutrals-100-40: #FAFAFA66;
    --neutrals-100-50: #FAFAFA80;
    --neutrals-100-60: #FAFAFA99;
    --neutrals-100-70: #FAFAFAB2;
    --neutrals-100-80: #FAFAFACC;
    --neutrals-100-90: #FAFAFAE5;
    
    --neutrals-700-10: #6161611A;
    --neutrals-700-20: #61616133;
    --neutrals-700-25: #61616140;
    --neutrals-700-30: #6161614D;
    --neutrals-700-40: #61616166;
    --neutrals-700-50: #61616180;
    --neutrals-700-60: #61616199;
    --neutrals-700-70: #616161B2;
    --neutrals-700-80: #616161CC;
    --neutrals-700-90: #616161E5;

    --neutrals-900-10: #2222221A;
    --neutrals-900-20: #22222233;
    --neutrals-900-25: #22222240;
    --neutrals-900-30: #2222224D;
    --neutrals-900-40: #22222266;
    --neutrals-900-50: #22222280;
    --neutrals-900-60: #22222299;
    --neutrals-900-70: #222222B2;
    --neutrals-900-80: #222222CC;
    --neutrals-900-90: #222222E5;
    
    /***** Variáveis de texto *****/
    
    --text-title: var(--neutrals-900);
    --text-title_alt: var(--neutrals-100);
    --text-body: var(--neutrals-800);
    --text-body_alt:var(--neutrals-200);
    --text-action: var(--primary-500);
    --text-action_hover:var(--primary-800);
    --text-primary: var(--primary-500);
    --text-primary_hover: var(--primary-800);
    --text-secondary:var(--secondary-500);
    --text-secondary_hover:var(--secondary-700);
    --text-tertiary:var(--tertiary-600);
    --text-tertiary_hover:var(--tertiary-700);
    --text-disabled:var(--neutrals-600);
    --text-success: var(--success-500);
    --text-info:var(--info-500);
    --text-warning:var(--warning-900);
    --text-error:var(--error-400);
    
    /***** Variáveis de bordas *****/
    
    --border-default:var(--neutrals-50);
    --border-default_alt:var(--neutrals-900);
    --border-light:var(--neutrals-100);
    --border-light_alt:var(--neutrals-800);
    --border-medium:var(--neutrals-200);
    --border-heavy:var(--neutrals-300);
    --border-xheavy:var(--neutrals-400);
    --border-highlight:var(--primary-50);
    --border-action:var(--primary-400);
    --border-action_hover:var(--primary-600);
    --border-primary:var(--primary-400);
    --border-primary_hover:var(--primary-500);
    --border-secondary:var(--secondary-500);
    --border-secondary_hover:var(--secondary-600);
    --border-tertiary:var(--tertiary-400);
    --border-tertiary_hover:var(--tertiary-500);
    --border-disabled:var(--neutrals-600);
    --border-success: var(--success-400);
    --border-info:var(--info-400);
    --border-warning:var(--warning-400);
    --border-error:var(--error-400);
    
    
    /***** Variáveis de fundo *****/
    
    --bg-default:var(--neutrals-50);
    --bg-default_alt:var(--neutrals-900);
    --bg-light:var(--neutrals-100);
    --bg-medium:var(--neutrals-200);
    --bg-highlight:var(--primary-50);
    --bg-action:var(--primary-500);
    --bg-action_hover:var(--primary-600);
    --bg-primary:var(--primary-500);
    --bg-primary_hover:var(--primary-600);
    --bg-secondary:var(--secondary-600);
    --bg-secondary_hover:var(--secondary-700);
    --bg-tertiary:var(--tertiary-500);
    --bg-tertiary_hover:var(--tertiary-600);
    --bg-disabled:var(--neutrals-600);
    --bg-success: var(--success-50);
    --bg-info:var(--info-50);
    --bg-warning:var(--warning-50);
    --bg-error:var(--error-50);


    /***** Variáveis de transparência *****/
    --alpha-gray-100-0: var(--neutrals-100-0);
    --alpha-gray-100-10: var(--neutrals-100-10);
    --alpha-gray-100-20: var(--neutrals-100-20);
    --alpha-gray-100-25: var(--neutrals-100-25);
    --alpha-gray-100-30: var(--neutrals-100-30);
    --alpha-gray-100-40: var(--neutrals-100-40);
    --alpha-gray-100-50: var(--neutrals-100-50);
    --alpha-gray-100-60: var(--neutrals-100-60);
    --alpha-gray-100-70: var(--neutrals-100-70);
    --alpha-gray-100-80: var(--neutrals-100-80);
    --alpha-gray-100-90: var(--neutrals-100-90);
    
    --alpha-gray-700-10: var(--neutrals-700-10);
    --alpha-gray-700-20: var(--neutrals-700-20);
    --alpha-gray-700-25: var(--neutrals-700-25);
    --alpha-gray-700-30: var(--neutrals-700-30);
    --alpha-gray-700-40: var(--neutrals-700-40);
    --alpha-gray-700-50: var(--neutrals-700-50);
    --alpha-gray-700-60: var(--neutrals-700-60);
    --alpha-gray-700-70: var(--neutrals-700-70);
    --alpha-gray-700-80: var(--neutrals-700-80);
    --alpha-gray-700-90: var(--neutrals-700-90);
    
    --alpha-gray-900-10: var(--neutrals-900-10);
    --alpha-gray-900-20: var(--neutrals-900-20);
    --alpha-gray-900-25: var(--neutrals-900-25);
    --alpha-gray-900-30: var(--neutrals-900-30);
    --alpha-gray-900-40: var(--neutrals-900-40);
    --alpha-gray-900-50: var(--neutrals-900-50);
    --alpha-gray-900-60: var(--neutrals-900-60);
    --alpha-gray-900-70: var(--neutrals-900-70);
    --alpha-gray-900-80: var(--neutrals-900-80);
    --alpha-gray-900-90: var(--neutrals-900-90);


    /***** Variáveis de cores utilitárias *****/

    /***** Neutras *****/
    --utilitary-gray-50: var(--neutrals-50);
    --utilitary-gray-100: var(--neutrals-100);
    --utilitary-gray-200: var(--neutrals-200);
    --utilitary-gray-300: var(--neutrals-300);
    --utilitary-gray-400: var(--neutrals-400);
    --utilitary-gray-500: var(--neutrals-500);
    --utilitary-gray-600: var(--neutrals-600);
    --utilitary-gray-700: var(--neutrals-700);
    --utilitary-gray-800: var(--neutrals-800);
    --utilitary-gray-900: var(--neutrals-900);

    /***** Primária *****/
    --utilitary-primary-50: var(--primary-50);
    --utilitary-primary-100: var(--primary-100);
    --utilitary-primary-200: var(--primary-200);
    --utilitary-primary-300: var(--primary-300);
    --utilitary-primary-400: var(--primary-400);
    --utilitary-primary-500: var(--primary-500);
    --utilitary-primary-600: var(--primary-600);
    --utilitary-primary-700: var(--primary-700);
    --utilitary-primary-800: var(--primary-800);
    --utilitary-primary-900: var(--primary-900);

    /***** Sucesso *****/
    --utilitary-success-50: var(--success-50);
    --utilitary-success-100: var(--success-100);
    --utilitary-success-200: var(--success-200);
    --utilitary-success-300: var(--success-300);
    --utilitary-success-400: var(--success-400);
    --utilitary-success-500: var(--success-500);
    --utilitary-success-600: var(--success-600);
    --utilitary-success-700: var(--success-700);
    --utilitary-success-800: var(--success-800);
    --utilitary-success-900: var(--success-900);
    
    /***** Erro *****/
    --utilitary-error-50: var(--error-50);
    --utilitary-error-100: var(--error-100);
    --utilitary-error-200: var(--error-200);
    --utilitary-error-300: var(--error-300);
    --utilitary-error-400: var(--error-400);
    --utilitary-error-500: var(--error-500);
    --utilitary-error-600: var(--error-600);
    --utilitary-error-700: var(--error-700);
    --utilitary-error-800: var(--error-800);
    --utilitary-error-900: var(--error-900);

    /***** Aviso *****/
    --utilitary-warning-50: var(--warning-50);
    --utilitary-warning-100: var(--warning-100);
    --utilitary-warning-200: var(--warning-200);
    --utilitary-warning-300: var(--warning-300);
    --utilitary-warning-400: var(--warning-400);
    --utilitary-warning-500: var(--warning-500);
    --utilitary-warning-600: var(--warning-600);
    --utilitary-warning-700: var(--warning-700);
    --utilitary-warning-800: var(--warning-800);
    --utilitary-warning-900: var(--warning-900);




    /*************************** Dimensões ***************************/

    /***** Bordas *****/
    --radius-zero: 0px;
    --radius-xs: 2px;
    --radius-sm: 4px;
    --radius-md: 6px;
    --radius-lg: 8px;
    --radius-xl: 12px;
    --radius-2xl: 20px;
    --radius-3xl: 24px;
    --radius-pill: 999px;


    /***** Espaçamento *****/
    --space-zero: 0px; /*0px*/
    --space-xs: 0.3rem; /*4px*/
    --space-sm: 0.5rem; /*8px*/
    --space-md: 0.8rem; /*12px*/
    --space-lg: 1rem; /*16px*/
    --space-xl: 1.3rem; /*20px*/
    --space-2xl: 1.5rem; /*24px*/
    --space-3xl: 1.75rem; /*28px*/
    --space-4xl: 2rem; /*32px*/
    --space-5xl: 2.25rem; /*36px*/
    --space-6xl: 2.5rem; /*40px*/
    --space-7xl: 2.75rem; /*44px*/
    --space-8xl: 3rem; /*48px*/
    --space-9xl: 3.75rem; /*60px*/
    --space-10xl: 4.5rem; /*72px*/
    --space-11xl: 5rem; /*80px*/
    --space-12xl: 6rem; /*96px*/

    /***** Ícones *****/
    --icon-xs: 0.8rem; /*12px*/
    --icon-sm: 1rem; /*16px*/
    --icon-md: 1.3rem; /*20px*/
    --icon-lg: 1.5rem; /*24px*/
    --icon-xlg: 2rem; /*32px*/

    /*************************** Sombras ***************************/
    --shadow-xs: 0px 1px 3px 0px rgba(34, 34, 34, 0.06);
    --shadow-sm: 0px 1px 3px 0px rgba(34, 34, 34, 0.08);
    --shadow-md: 0px 4px 6px -1px rgba(34, 34, 34, 0.08);
    --shadow-lg: 0px 4px 6px -2px rgba(34, 34, 34, 0.10);
    --shadow-xl: 0px 8px 8px -4px rgba(34, 34, 34, 0.10);
    --shadow-2xl: 0px 24px 48px -12px rgba(34, 34, 34, 0.18);
    --shadow-3xl: 0px 32px 64px -12px rgba(34, 34, 34, 0.18);


    /*************************** Tipografia ***************************/

    /***** Família *****/
    --fonte-principal: "Roboto", Arial, Helvetica, serif;
    --fonte-codigo: "Roboto Mono", "Courier New", monospace;

    /***** Tamanho *****/
    --display-2xl: 4.5rem; /*72*/ 
    --display-xl: 3.75rem; /*60px*/
    --display-lg: 3rem; /*48px*/
    --display-md: 2.25rem; /*36px*/
    --display-sm: 2rem; /*32px*/
    --display-xs: 1.5rem; /*24px*/
    --text-xl: 1.3rem; /*20px*/
    --text-lg: 1.125rem; /*18px*/
    --text-md: 1rem; /*16px*/
    --text-sm: 0.875rem; /*14px*/
    --text-xs: 0.75rem; /*12px*/
}

/*************************** Tipografia • Estilos ***************************/

body {
    font-family: var(--fonte-principal);
    background-color: var(--bg-default);
}

.display-2xl {
    font-size: var(--display-2xl);
    font-weight: 700;
    line-height: 125%;
    letter-spacing: -1.44px;
}

.display-xl {
    font-size: var(--display-xl);
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -1.2px;
}

.display-lg {
    font-size: var(--display-lg);
    font-weight: 700;
    line-height: 125%;
    letter-spacing: -0.96px;
}

.display-md {
    font-size: var(--display-md);
    font-weight: 700;
    line-height: 122.222%;
    letter-spacing: -0.72px;
}

.display-sm {
    font-size: var(--display-sm);
    font-weight: 700;
    line-height: 118.75%;
    letter-spacing: 0;
}

.display-xs {
    font-size: var(--display-xs);
    font-weight: 700;
    line-height: 133.333%;
    letter-spacing: 0;
}

.text-xl {
    font-size: var(--text-xl);
    line-height: 150%;
    letter-spacing: 0;
}

.text-lg {
    font-size: var(--text-lg);
    line-height: 155.556%;
    letter-spacing: 0;
}

p, .text-md {
    font-size: var(--text-md);
    line-height: 142.857%;
    letter-spacing: 0;
}

.text-sm {
    font-size: var(--text-sm);
    line-height: 142.857%;
    letter-spacing: 0;
}

.text-xs, .badge {
    font-size: var(--text-xs);
    font-weight: 400;
    line-height: 152%;
    letter-spacing: 0;
}


/*************************** Utilitários • Estilos ***************************/
.rounded-pill{
    border-radius: var(--radius-pill)!important;
}

/*************************** Botões • Estilos ***************************/

a {
    color: var(--text-action);
    transition: 0.5s ease-in-out;
}

a:hover {
    color: var(--text-action_hover);
}

.btn {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-xs);
    flex-direction: row;
    font-size: var(--text-sm);
    font-weight: 700;
    line-height: 142.857%;
    letter-spacing: 0;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    white-space: nowrap;
}

.btn:focus{
    outline-color: var(--border-action)!important;
    outline-offset: 3px;
    outline-width: medium;  
}

/***** Botão • Primário *****/

.btn-primary {
    background-color: var(--primary-500);
    border-radius: var(--radius-sm);
    border-top: 1px solid var(--primary-400);
    border-right: none;
    border-bottom: none;
    border-left: 1px solid var(--primary-400);
    color: var(--neutrals-100);
    text-decoration: none;
    box-shadow: var(--shadow-md);
    span {
        font-size: var(--icon-md);
    }
}

.btn-primary:hover {
    background-color: var(--primary-700);
    border-top: 1px solid var(--primary-600);
    border-left: 1px solid var(--primary-600);
    color: var(--neutrals-100);
    box-shadow: var(--shadow-sm);
}

.btn-primary:disabled {
    background-color: var(--neutrals-600);
    border: 1px solid var(--neutrals-600);
    color: var(--neutrals-100);
    cursor:not-allowed;
}

/***** Botão • Secundário *****/

.btn-secondary {
    background-color: var(--alpha-gray-100-0);
    border-radius: var(--radius-sm);
    border: 1px solid var(--secondary-500);
    color: var(--secondary-500);
    text-decoration: none;
    span {
        font-size: var(--icon-md);
    }
}

.btn-secondary:hover {
    color: var(--neutrals-100);
    background-color: var(--secondary-600);
    border-top: 1px solid var(--secondary-400);
    border-right: 1px solid var(--secondary-600);
    border-bottom: 1px solid var(--secondary-600);
    border-left: 1px solid var(--secondary-400);
}

.btn-secondary:disabled{
    background-color: var(--alpha-gray-100-0);
    border: 1px solid var(--neutrals-200);
    color: var(--neutrals-600);
    cursor:not-allowed;
}

/***** Botão • Terciário *****/

.btn-tertiary {
    background-color: unset;
    border-radius: var(--radius-sm);
    border: none;
    color: var(--tertiary-500);
    text-decoration: none;
    span {
        font-size: var(--icon-md);
    }
}

.btn-tertiary:hover {
    background-color: var(--tertiary-50);
    color: var(--tertiary-700);
}

.btn-tertiary:disabled {
    background-color: unset;
    border: unset;
    color: var(--neutrals-600);
    cursor:not-allowed;
}

/***** Botão • Sucesso *****/

.btn-success {
    background-color: var(--success-700);
    border-radius: var(--radius-sm);
    border-top: 1px solid var(--success-600);
    border-right: none;
    border-bottom: none;
    border-left: 1px solid var(--success-600);
    color: var(--neutrals-100);
    text-decoration: none;
    box-shadow: var(--shadow-md);
}

.btn-success:hover {
    background-color: var(--success-800);
    border-top: 1px solid var(--success-700);
    border-right: none;
    border-bottom: none;
    border-left: 1px solid var(--success-700);
    box-shadow: var(--shadow-sm);
}

.btn-success:disabled{
    background-color: var(--neutrals-600);
    color: var(--neutrals-100);
    border: var(--neutrals-600);
    cursor: not-allowed;
}

/***** Botão • Destruir *****/

.btn-destroy {
    background-color: var(--error-600);
    border-radius: var(--radius-sm);
    border-top: 1px solid var(--error-500);
    border-right: none;
    border-bottom: none;
    border-left: 1px solid var(--error-500);
    color: var(--neutrals-100);
    text-decoration: none;
    box-shadow: var(--shadow-md);
}

.btn-destroy:hover{
    background-color: var(--error-800);
    border-top: 1px solid var(--error-700);
    border-right: none;
    border-bottom: none;
    border-left: 1px solid var(--error-700);
    box-shadow: var(--shadow-sm);
}

.btn-destroy:disabled{
    background-color: var(--neutrals-600);
    color: var(--neutrals-100);
    border: var(--neutrals-600);
    cursor: not-allowed;
}

/***** Botão • Tamanhos *****/

.btn-sm {
    padding: var(--space-sm);
}

.btn-md {
    padding: var(--space-sm) var(--space-md);
}

.btn-lg {
    padding: var(--space-md) var(--space-lg);
}


/*************************** Badges ***************************/

.badge {
    display: flex;
    gap: var(--space-zero);
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-md);
    span {
        font-size: var(--icon-xs);
    }
}


/***** Estilos *****/

.badge-gray {
    border: 1px solid var(--utilitary-gray-300);
    background: var(--utilitary-gray-200);
    color: var(--utilitary-gray-800);
}

.badge-info {
    border: 1px solid var(--utilitary-primary-500);
    background: var(--utilitary-primary-50);
    color: var(--utilitary-primary-800);
}

.badge-error {
    border: 1px solid var(--utilitary-error-500);
    background: var(--utilitary-error-50);
    color: var(--utilitary-error-800);
}

.badge-warning {
    border: 1px solid var(--utilitary-warning-500);
    background: var(--utilitary-warning-50);
    color: var(--utilitary-gray-800);
}

.badge-success {
    border: 1px solid var(--utilitary-success-500);
    background: var(--utilitary-success-50);
    color: var(--utilitary-success-800);
}

/***** Tamanhos *****/

.badge-sm {
    padding: var(--space-xs) var(--space-sm);
}

.badge-md {
    padding: var(--space-xs) var(--space-md);
}

.badge-lg {
    padding:var(--space-xs) var(--space-lg);
} 